In [18]:
import pandas as pd
import json

In [19]:
df = pd.read_csv("/data/raw_stock_ind.csv")

In [20]:
def json_parser(x):
    try:
        return json.loads(x)["symbol"]
    except Exception as e:
        print(e)
        return ""

In [21]:
df["company_symbol"] = df["info_json"].map(lambda x: json_parser(x))

In [27]:
df["company_symbol"].unique()

array(['LTIM.NS', '20MICRONS.NS', '21STCENMGM.NS', '3MINDIA.NS',
       '3PLAND.NS', '5PAISA.NS', '63MOONS.NS', 'A2ZINFRA.NS', 'AAKASH.NS',
       'AARON.NS', 'AARTIDRUGS.NS', 'AARTIIND.NS', 'AARVEEDEN.NS',
       'AARVI.NS', 'AAVAS.NS', 'ABAN.NS', 'ABB.NS', 'POWERINDIA.NS',
       'ACC.NS', 'ACCELYA.NS', 'ACCURACY.NS', 'ACEINTEG.NS'], dtype=object)

In [9]:
df

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,Stock Splits,Stock_Date,info_json,Adj Close,Interest Income,Interest Income Non Operating,Write Off,Selling General And Administration,General And Administrative Expense,company_symbol
0,0.000000e+00,0.250000,1.767100e+10,NaN,NaN,1.151500e+10,1.847000e+09,5.598700e+10,1.582400e+10,-460000000.0,...,0.0,2023-06-30,"{""address1"": ""L&T House"", ""address2"": ""Ballard...",NaN,NaN,NaN,NaN,NaN,NaN,
1,0.000000e+00,0.228569,1.795100e+10,1.667000e+09,1.667000e+09,1.113700e+10,3.073000e+09,5.580700e+10,1.487800e+10,-436000000.0,...,0.0,2023-03-31,"{""address1"": ""L&T House"", ""address2"": ""Ballard...",NaN,NaN,NaN,NaN,NaN,NaN,
2,-1.182283e+08,0.236457,1.576600e+10,-5.000000e+08,-5.000000e+08,1.000500e+10,1.781000e+09,5.472200e+10,1.348500e+10,-379000000.0,...,NaN,NaN,"{""address1"": ""L&T House"", ""address2"": ""Ballard...",NaN,NaN,NaN,NaN,NaN,NaN,
3,0.000000e+00,0.245756,1.051000e+10,NaN,NaN,6.793000e+09,1.308000e+09,3.084900e+10,9.202000e+09,-189000000.0,...,0.0,2022-09-30,"{""address1"": ""L&T House"", ""address2"": ""Ballard...",NaN,NaN,NaN,NaN,NaN,NaN,
4,0.000000e+00,0.254524,9.749000e+09,NaN,NaN,6.335000e+09,1.065000e+09,2.872300e+10,8.684000e+09,-174000000.0,...,0.0,2022-06-30,"{""address1"": ""L&T House"", ""address2"": ""Ballard...",NaN,NaN,NaN,NaN,NaN,NaN,
5,0.000000e+00,0.292948,1.731410e+08,0.000000e+00,0.000000e+00,9.302400e+07,NaN,9.829390e+08,1.731410e+08,-41343000.0,...,0.0,2023-03-31,"{""address1"": ""347, GIDC Industrial Estate"", ""a...",NaN,NaN,NaN,NaN,NaN,NaN,
6,0.000000e+00,0.269854,1.452270e+08,0.000000e+00,0.000000e+00,7.380400e+07,NaN,8.279530e+08,1.452270e+08,-44128000.0,...,NaN,NaN,"{""address1"": ""347, GIDC Industrial Estate"", ""a...",NaN,NaN,NaN,NaN,NaN,NaN,
7,0.000000e+00,0.257810,2.101080e+08,0.000000e+00,0.000000e+00,1.187470e+08,NaN,9.868660e+08,2.101080e+08,-48974000.0,...,0.0,2022-09-30,"{""address1"": ""347, GIDC Industrial Estate"", ""a...",NaN,NaN,NaN,NaN,NaN,NaN,
8,0.000000e+00,0.252258,2.210800e+08,0.000000e+00,0.000000e+00,1.326160e+08,NaN,9.776720e+08,2.210800e+08,-43187000.0,...,0.0,2022-06-30,"{""address1"": ""347, GIDC Industrial Estate"", ""a...",NaN,NaN,NaN,NaN,NaN,NaN,
9,0.000000e+00,0.000000,-2.763100e+07,0.000000e+00,0.000000e+00,-2.774700e+07,1.160000e+05,3.595500e+07,-2.774700e+07,0.0,...,0.0,2023-06-30,"{""address1"": ""Grease House"", ""address2"": ""1st ...",NaN,NaN,NaN,NaN,NaN,NaN,
10,0.000000e+00,0.400000,-7.694100e+07,0.000000e+00,0.000000e+00,-7.838700e+07,1.710000e+05,6.996300e+07,-7.711200e+07,0.0,...,0.0,2023-03-31,"{""address1"": ""Grease House"", ""address2"": ""1st ...",NaN,NaN,NaN,NaN,NaN,NaN,
11,0.000000e+00,0.000000,-4.046700e+07,0.000000e+00,0.000000e+00,-4.064100e+07,1.740000e+05,4.041000e+06,-4.064100e+07,0.0,...,NaN,NaN,"{""address1"": ""Grease House"", ""address2"": ""1st ...",NaN,NaN,NaN,NaN,NaN,NaN,
12,0.000000e+00,0.000000,-1.647100e+07,0.000000e+00,0.000000e+00,-1.661700e+07,1.460000e+05,3.646000e+06,-1.661700e+07,0.0,...,0.0,2022-09-30,"{""address1"": ""Grease House"", ""address2"": ""1st ...",NaN,NaN,NaN,NaN,NaN,NaN,
13,0.000000e+00,0.000000,-4.486400e+07,0.000000e+00,0.000000e+00,-4.499100e+07,1.270000e+05,3.696000e+06,-4.499100e+07,0.0,...,0.0,2022-06-30,"{""address1"": ""Grease House"", ""address2"": ""1st ...",NaN,NaN,NaN,NaN,NaN,NaN,
14,0.000000e+00,0.254237,1.881453e+09,0.000000e+00,0.000000e+00,1.292118e+09,1.392550e+08,6.375038e+09,1.742198e+09,-9586000.0,...,0.0,2023-06-30,"{""address1"": ""WeWork Prestige Central"", ""addre...",NaN,NaN,NaN,NaN,NaN,NaN,
15,0.000000e+00,0.263647,2.042091e+09,0.000000e+00,0.000000e+00,1.357193e+09,1.411300e+08,6.356317e+09,1.900961e+09,-57834000.0,...,0.0,2023-03-31,"{""address1"": ""WeWork Prestige Central"", ""addre...",NaN,NaN,NaN,NaN,NaN,NaN,
16,0.000000e+00,0.254174,1.825924e+09,0.000000e+00,0.000000e+00,1.248069e+09,1.468130e+08,6.048158e+09,1.679111e+09,-5705000.0,...,NaN,NaN,"{""address1"": ""WeWork Prestige Central"", ""addre...",NaN,NaN,NaN,NaN,NaN,NaN,
17,0.000000e+00,0.255466,1.576660e+09,0.000000e+00,0.000000e+00,1.062337e+09,1.460040e+08,6.224496e+09,1.430656e+09,-3808000.0,...,0.0,2022-09-30,"{""address1"": ""WeWork Prestige Central"", ""addre...",NaN,NaN,NaN,NaN,NaN,NaN,
18,0.000000e+00,0.255002,1.279200e+09,0.000000e+00,0.000000e+00,8.425930e+08,1.428440e+08,5.974109e+09,1.136356e+09,-5356000.0,...,0.0,2022-06-30,"{""address1"": ""WeWork Prestige Central"", ""addre...",NaN,NaN,NaN,NaN,NaN,NaN,
19,0.000000e+00,0.252592,3.708000e+06,NaN,NaN,2.595000e+06,2.390000e+05,NaN,3.469000e+06,NaN,...,0.0,2023-06-30,"{""maxAge"": 86400, ""priceHint"": 2, ""previousClo...",NaN,NaN,NaN,NaN,NaN,NaN,
20,0.000000e+00,0.251665,3.830000e+06,NaN,NaN,2.697000e+06,2.380000e+05,NaN,3.592000e+06,NaN,...,0.0,2023-03-31,"{""maxAge"": 86400, ""priceHint"": 2, ""previousClo...",NaN,NaN,NaN,NaN,NaN,NaN,
21,0.000000e+00,0.241852,3.890000e+06,NaN,NaN,2.768000e+06,2.390000e+05,NaN,3.651000e+06,NaN,...,NaN,NaN,"{""maxAge"": 86400, ""priceHint"": 2, ""previousClo...",NaN,NaN,NaN,NaN,NaN,NaN,
22,0.000000e+00,0.255218,3.516000e+06,NaN,NaN,7.494000e+06,2.380000e+05,NaN,3.278000e+06,NaN,...,0.0,2022-09-30,"{""maxAge"": 86400, ""priceHint"": 2, ""previousClo...",NaN,NaN,NaN,NaN,NaN,NaN,
23,0.000000e+00,0.236195,3.372000e+06,NaN,NaN,2.393000e+06,2.390000e+05,NaN,3.133000e+06,NaN,...,0.0,2022-06-30,"{""maxAge"": 86400, ""priceHint"": 2, ""previousClo...",NaN,NaN,NaN,NaN,NaN,NaN,
24,0.000000e+00,0.253416,2.562020e+08,NaN,NaN,1.453530e+08,2.306400e+07,1.798390e+08,2.331380e+08,-38446000.0,...,0.0,2023-06-30,"{""address1"": ""IIFL House, Sun Infotech Park"", ...",NaN,NaN,NaN,NaN,NaN,NaN,
25,0.000000e+00,0.250616,2.522470e+08,-6.287000e+07,-6.287000e+07,1.414350e+08,1.721800e+07,1.536190e+08,2.350290e+08,-46294000.0,...,0.0,2023-03-31,"{""address1"": ""IIFL House, Sun Infotech Park"", ...",NaN,NaN,NaN,NaN,NaN,NaN,
26,0.000000e+00,0.250293,2.285180e+08,0.000000e+00,0.000000e+00,1.101710e+08,2.165700e+07,1.493700e+08,2.068610e+08,-59909000.0,...,NaN,NaN,"{""address1"": ""IIFL House, Sun Infotech Park"", ...",NaN,NaN,NaN,NaN,NaN,NaN,
27,0.000000e+00,0.236303,2.069130e+08,NaN,NaN,1.074720e+08,2.085000e+07,1.459620e+08,1.860630e+08,-45337000.0,...,0.0,2022-09-30,"{""address1"": ""IIFL House, Sun Infotech Park"", ...",NaN,239523000.0,239523000.0,NaN,NaN,NaN,
28,0.000000e+00,0.269445,1.765960e+08,NaN,NaN,7.388100e+07,2.067000e+07,1.416880e+08,1.559260e+08,-54796000.0,...,0.0,2022-06-30,"{""address1"": ""IIFL House, Sun Infotech Park"", ...",NaN,242619000.0,242619000.0,NaN,NaN,NaN,
29,0.000000e+00,0.237790,5.899940e+08,0.000000e+00,0.000000e+00,3.937170e+08,7.656700e+07,4.825410e+08,5.134270e+08,-1947000.0,...,0.0,2023-06-30,"{""address1"": ""FT Tower"", ""address2"": ""CTS No. ...",NaN,NaN,NaN,NaN,224635000.0,224635000.0,
30,-1.654620e+08,0.400000,6.298190e+08,-4.136550e+08,-4.136550e+08,-2.377780e+08,1.424070e+08,4.323810e+08,7.375700e+07,-2154000.0,...,0.0,2023-03-31,"{""address1"": ""FT Tower"", ""address2"": ""CTS No. ...",NaN,NaN,NaN,NaN,179063000.0,179063000.0,
31,0.000000e+00,0.400000,4.105980e+08,0.000000e+00,0.000000e+00,2.198520e+08,3.235700e+07,4.265770e+08,3.782410e+08,-1809000.0,...,NaN,NaN,"{""address1"": ""FT Tower"", ""address2"": ""CTS No. ...",NaN,NaN,NaN,NaN,162376000.0,162376000.0,
32,0.000000e+00,0.042931,-1.034360e+08,0.000000e+00,0.000000e+00,-1.066340e+08,3.034800e+07,4.049740e+08,-1.337840e+08,-1340000.0,...,0.0,2022-09-30,"{""address1"": ""FT Tower"", ""address2"": ""CTS No. ...",NaN,NaN,NaN,NaN,144747000.0,144747000.0,
33,-3.640000e+04,0.400000,-8.754200e+07,-9.100000e+04,-9.100000e+04,-3.852800e+07,2.878600e+07,3.853920e+08,-1.164190e+08,271066000.0,...,0.0,2022-06-30,"{""address1"": ""FT Tower"", ""address2"": ""CTS No. ...",NaN,272078000.0,272078000.0,0.0,224036000.0,224036000.0,