In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import timedelta
import json

In [45]:
def fetch_data(company_name):
    try:        
        msft = yf.Ticker(company_name)
        from datetime import datetime

        hist = msft.history(period="10mo")
        hist["Symbol_name"]=company_name
        hist["FinancialDate"]=pd.to_datetime(hist.index, format='%y-%m-%d').date
        return hist.loc[hist["FinancialDate"] == datetime.strptime("2022-12-26", '%Y-%m-%d').date() ]
    except Exception as e:
        print(e)
        return None

In [ ]:
import time
import os

stock = pd.read_csv("/data/stock_symbols.csv")

skip_counter = 0

print(skip_counter)

counter = 0

df = fetch_data("LTIM.NS")

for ind in stock.index:
    print(stock['Symbol_New'][ind])
    counter = counter+1
    if counter < skip_counter:
        continue
    df_tmp = fetch_data(stock['Symbol_New'][ind])
    if df_tmp is not None:
        df = pd.concat([df, df_tmp])
    if counter % 5 == 0:
        df.to_csv("/data/missing_stock_data.csv", index=False)
    print(counter)
    time.sleep(10) 
    

df.to_csv("/data/missing_stock_data.csv", index=False)

0
20MICRONS.NS
1
21STCENMGM.NS
2
3IINFOTECH.NS

3IINFOTECH.NS: No data found, symbol may be delisted

3
3MINDIA.NS
4
3PLAND.NS
5
3RDROCK.NS
6
5PAISA.NS
7
63MOONS.NS
8

In [46]:
df = fetch_data("LTIM.NS")

In [47]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol_name,FinancialDate
Date,,,,,,,,,
2022-12-26 00:00:00+05:30,4189.535146,4281.418009,4171.443844,4276.010254,248624,0.0,0.0,LTIM.NS,2022-12-26

In [40]:


hist1 = hist.loc[hist["FinancialDate"] == datetime.strptime("2022-12-26", '%Y-%m-%d').date() ]

hist1

,Open,High,Low,Close,Volume,Dividends,Stock Splits,FinancialDate
Date,,,,,,,,
2022-12-26 00:00:00+05:30,82.441451,87.656121,80.703228,86.265541,141024,0.0,0.0,2022-12-26