In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import timedelta
import json

In [45]:
def fetch_data(company_name):
    try:        
        msft = yf.Ticker(company_name)
        from datetime import datetime

        hist = msft.history(period="10mo")
        hist["Symbol_name"]=company_name
        hist["FinancialDate"]=pd.to_datetime(hist.index, format='%y-%m-%d').date
        return hist.loc[hist["FinancialDate"] == datetime.strptime("2022-12-26", '%Y-%m-%d').date() ]
    except Exception as e:
        print(e)
        return None

In [1]:
import time
import os

stock = pd.read_csv("/data/stock_symbols.csv")

skip_counter = 0

print(skip_counter)

counter = 0

df = fetch_data("LTIM.NS")

for ind in stock.index:
    print(stock['Symbol_New'][ind])
    counter = counter+1
    if counter < skip_counter:
        continue
    df_tmp = fetch_data(stock['Symbol_New'][ind])
    if df_tmp is not None:
        df = pd.concat([df, df_tmp])
    if counter % 5 == 0:
        df.to_csv("/data/missing_stock_data.csv", index=False)
    print(counter)
    time.sleep(10) 
    

df.to_csv("/data/missing_stock_data.csv", index=False)

Download

In [2]:
mdf = pd.read_csv("/data/missing_stock_data.csv")

In [4]:
rdf = pd.read_csv("/data/raw_stock_indicator.csv")

In [5]:
rdf.columns

Index(['Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA', 'Total Unusual Items',
       'Total Unusual Items Excluding Goodwill',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBIT',
       'Net Interest Income', 'Interest Expense', 'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Diluted Average Shares', 'Basic Average Shares',
       'Diluted EPS', 'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Otherunder Preferred Stock Dividend',
       'Net Income', 'Minority Interests',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Non Operating Income Expenses', 'Special Income Charges',
       'Restructuring And Mergern Acquisition',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Operating Income',
       'Operating Expense', 'Other Operating Expenses',
       'Depreciation And Amortization In Income Statement',
       'Depreciation Income Statement', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue', 'FinancialDate', 'Year', 'Month',
       'IsWeekend', 'FinancialDate_Adj', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Dividends', 'Stock Splits', 'Stock_Date', 'info_json',
       'Adj Close', 'Interest Income', 'Interest Income Non Operating',
       'Write Off', 'Selling General And Administration',
       'General And Administrative Expense', 'Other Special Charges',
       'Net Income Discontinuous Operations', 'Net Income Extraordinary',
       'Impairment Of Capital Assets', 'Selling And Marketing Expense',
       'Other Income Expense', 'Rent Expense Supplemental',
       'Rent And Landing Fees', 'Research And Development',
       'Total Operating Income As Reported', 'Capital Gains',
       'Gain On Sale Of Security', 'Total Other Finance Cost',
       'Gain On Sale Of Ppe', 'Earnings From Equity Interest',
       'Depreciation Amortization Depletion Income Statement',
       'Salaries And Wages', 'Average Dilution Earnings',
       'Insurance And Claims', 'Amortization', 'Other Taxes', 'Other Gand A',
       'Preferred Stock Dividends', 'Gain On Sale Of Business',
       'Earnings From Equity Interest Net Of Tax'],
      dtype='object')

In [16]:
rdf_b = rdf[rdf["Month"] == 12]
rdf_g = rdf[rdf["Month"] != 12]

In [19]:
rdf_g

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,Depreciation Amortization Depletion Income Statement,Salaries And Wages,Average Dilution Earnings,Insurance And Claims,Amortization,Other Taxes,Other Gand A,Preferred Stock Dividends,Gain On Sale Of Business,Earnings From Equity Interest Net Of Tax
0,0.000000e+00,0.250000,1.767100e+10,NaN,NaN,1.151500e+10,1.847000e+09,5.598700e+10,1.582400e+10,-460000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000000e+00,0.228569,1.795100e+10,1.667000e+09,1.667000e+09,1.113700e+10,3.073000e+09,5.580700e+10,1.487800e+10,-436000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.000000e+00,0.245756,1.051000e+10,NaN,NaN,6.793000e+09,1.308000e+09,3.084900e+10,9.202000e+09,-189000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000000e+00,0.254524,9.749000e+09,NaN,NaN,6.335000e+09,1.065000e+09,2.872300e+10,8.684000e+09,-174000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.000000e+00,0.292948,1.731410e+08,0.000000e+00,0.000000e+00,9.302400e+07,NaN,9.829390e+08,1.731410e+08,-41343000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7309,0.000000e+00,0.400000,1.915800e+07,0.000000e+00,0.000000e+00,-8.186000e+06,1.913200e+07,1.767330e+08,2.600000e+04,-3785000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7310,0.000000e+00,0.400000,1.046100e+09,0.000000e+00,0.000000e+00,-2.427000e+08,2.281000e+08,7.583900e+09,8.180000e+08,-565100000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7311,-1.781540e+09,0.254881,2.010900e+09,-6.989700e+09,-6.989700e+09,-4.584000e+09,2.125000e+08,8.704700e+09,-5.191300e+09,-535300000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7313,0.000000e+00,0.268059,-1.310000e+07,NaN,NaN,-3.637000e+08,1.725000e+08,3.871800e+09,-1.856000e+08,-513500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7314,2.638200e+09,0.230937,1.267500e+09,1.142390e+10,1.142390e+10,9.174200e+09,1.767000e+08,9.425700e+09,1.251470e+10,-449500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN