In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import timedelta
import json

In [45]:
def fetch_data(company_name):
    try:        
        msft = yf.Ticker(company_name)
        from datetime import datetime

        hist = msft.history(period="10mo")
        hist["Symbol_name"]=company_name
        hist["FinancialDate"]=pd.to_datetime(hist.index, format='%y-%m-%d').date
        return hist.loc[hist["FinancialDate"] == datetime.strptime("2022-12-26", '%Y-%m-%d').date() ]
    except Exception as e:
        print(e)
        return None

In [1]:
import time
import os

stock = pd.read_csv("/data/stock_symbols.csv")

skip_counter = 0

print(skip_counter)

counter = 0

df = fetch_data("LTIM.NS")

for ind in stock.index:
    print(stock['Symbol_New'][ind])
    counter = counter+1
    if counter < skip_counter:
        continue
    df_tmp = fetch_data(stock['Symbol_New'][ind])
    if df_tmp is not None:
        df = pd.concat([df, df_tmp])
    if counter % 5 == 0:
        df.to_csv("/data/missing_stock_data.csv", index=False)
    print(counter)
    time.sleep(10) 
    

df.to_csv("/data/missing_stock_data.csv", index=False)

Download

In [2]:
mdf = pd.read_csv("/data/missing_stock_data.csv")

In [3]:
rdf = pd.read_csv("/data/raw_stock_indicator_v1.csv")

In [6]:
rdf.columns

Index(['Unnamed: 0', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA', 'Total Unusual Items',
       'Total Unusual Items Excluding Goodwill',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBIT',
       'Net Interest Income', 'Interest Expense', 'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Diluted Average Shares', 'Basic Average Shares',
       'Diluted EPS', 'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Otherunder Preferred Stock Dividend',
       'Net Income', 'Minority Interests',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Non Operating Income Expenses', 'Special Income Charges',
       'Restructuring And Mergern Acquisition',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Operating Income',
       'Operating Expense', 'Other Operating Expenses',
       'Depreciation And Amortization In Income Statement',
       'Depreciation Income Statement', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue', 'FinancialDate', 'Year', 'Month',
       'IsWeekend', 'FinancialDate_Adj', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Dividends', 'Stock Splits', 'Stock_Date', 'info_json',
       'Adj Close', 'Interest Income', 'Interest Income Non Operating',
       'Write Off', 'Selling General And Administration',
       'General And Administrative Expense', 'Other Special Charges',
       'Net Income Discontinuous Operations', 'Net Income Extraordinary',
       'Impairment Of Capital Assets', 'Selling And Marketing Expense',
       'Other Income Expense', 'Rent Expense Supplemental',
       'Rent And Landing Fees', 'Research And Development',
       'Total Operating Income As Reported', 'Capital Gains',
       'Gain On Sale Of Security', 'Total Other Finance Cost',
       'Gain On Sale Of Ppe', 'Earnings From Equity Interest',
       'Depreciation Amortization Depletion Income Statement',
       'Salaries And Wages', 'Average Dilution Earnings',
       'Insurance And Claims', 'Amortization', 'Other Taxes', 'Other Gand A',
       'Preferred Stock Dividends', 'Gain On Sale Of Business',
       'Earnings From Equity Interest Net Of Tax', 'company_symbol'],
      dtype='object')

In [4]:
rdf_b = rdf[rdf["Month"] == 12]
rdf_g = rdf[rdf["Month"] != 12]

In [5]:
rdf_b["Open"]

2      NaN
6      NaN
11     NaN
16     NaN
21     NaN
        ..
7293   NaN
7298   NaN
7303   NaN
7307   NaN
7312   NaN
Name: Open, Length: 1493, dtype: float64

In [6]:
import pandas as pd
rdf_c = pd.merge(rdf_b, mdf, left_on=["company_symbol"], right_on=["Symbol_name"])

In [7]:
mdf

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol_name,FinancialDate,Adj Close,Capital Gains
0,4189.535146,4281.418009,4171.443844,4276.010254,248624.0,0.0,0.0,LTIM.NS,2022-12-26,NaN,NaN
1,82.441451,87.656121,80.703228,86.265541,141024.0,0.0,0.0,20MICRONS.NS,2022-12-26,NaN,NaN
2,22.500000,22.750000,22.299999,22.350000,3949.0,0.0,0.0,21STCENMGM.NS,2022-12-26,NaN,NaN
3,22097.774884,22556.510988,21993.516679,22228.644531,1406.0,0.0,0.0,3MINDIA.NS,2022-12-26,NaN,NaN
4,15.300000,16.950001,14.500000,16.750000,7000.0,0.0,0.0,3PLAND.NS,2022-12-26,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1588,92.650002,96.550003,88.800003,93.849998,52038.0,0.0,0.0,ZODIACLOTH.NS,2022-12-26,NaN,NaN
1589,104.500000,115.349998,104.449997,115.349998,14937.0,0.0,0.0,ZODIAC.NS,2022-12-26,NaN,NaN
1590,261.899994,282.000000,258.000000,278.049988,116136.0,0.0,0.0,ZOTA.NS,2022-12-26,NaN,NaN
1591,140.000000,149.699997,138.949997,149.000000,86081.0,0.0,0.0,ZUARI.NS,2022-12-26,NaN,NaN
1592,1490.921976,1519.727264,1484.962261,1517.591675,6543.0,0.0,0.0,ZYDUSWELL.NS,2022-12-26,NaN,NaN

In [16]:
rdf_c[['Open_x', 'High_x', 'Low_x', 'Close_x', 'Volume_x', 'Dividends_x', 'Stock Splits_x','Symbol_name', 'FinancialDate_x', 'Adj Close_x', 'Capital Gains_x']]

,Open_x,High_x,Low_x,Close_x,Volume_x,Dividends_x,Stock Splits_x,Symbol_name,FinancialDate_x,Adj Close_x,Capital Gains_x
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LTIM.NS,2022-12-31,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LTIM.NS,2022-12-31,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LTIM.NS,2022-12-31,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LTIM.NS,2022-12-31,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20MICRONS.NS,2022-12-31,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZENITHEXPO.NS,2022-12-31,NaN,NaN
1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZENSARTECH.NS,2022-12-31,NaN,NaN
1473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZODIACLOTH.NS,2022-12-31,NaN,NaN
1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZOTA.NS,2022-12-31,NaN,NaN
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZUARI.NS,2022-12-31,NaN,NaN

In [13]:
mdf.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Symbol_name', 'FinancialDate', 'Adj Close', 'Capital Gains'],
      dtype='object')