In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/prepared_stock_indicator.csv")

In [3]:
cols = ['company_symbol', 'price_change', '']

,Total Revenue,Operating Revenue,Gross Profit,Year,Month,company_symbol,Open,Volume,year_month,price_change,price_old,revenue_old,revenue_change,price_new,price_target,price_target_change,Good_stock
0,1.859114e+09,1.859114e+09,8.814420e+08,2022,6,20MICRONS.NS,68.783986,42835.0,20226,NaN,NaN,NaN,NaN,94.857335,94.857335,1.379061,False
1,1.877775e+09,1.877775e+09,8.909090e+08,2022,9,20MICRONS.NS,94.857335,164045.0,20229,1.379061,68.783986,1.859114e+09,1.010038,NaN,NaN,NaN,False
2,1.547142e+09,1.547142e+09,7.191890e+08,2022,12,20MICRONS.NS,NaN,NaN,20232,NaN,94.857335,1.877775e+09,0.823923,70.522207,70.522207,NaN,False
3,1.732841e+09,1.732841e+09,7.499020e+08,2023,3,20MICRONS.NS,70.522207,617891.0,20233,NaN,NaN,1.547142e+09,1.120027,NaN,NaN,NaN,False
4,-3.918900e+07,-3.918900e+07,-4.288500e+07,2022,6,21STCENMGM.NS,25.049999,3903.0,20226,NaN,NaN,NaN,NaN,23.400000,23.400000,0.934132,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7310,1.295920e+10,1.295920e+10,3.533500e+09,2022,6,ZUARI.NS,144.750000,82964.0,20226,NaN,NaN,NaN,NaN,168.600006,168.600006,1.164767,False
7311,5.016200e+09,5.016200e+09,1.144400e+09,2022,9,ZUARI.NS,168.600006,457551.0,20229,1.164767,144.750000,1.295920e+10,0.387076,NaN,NaN,NaN,False
7312,1.416170e+10,1.416170e+10,5.367000e+09,2022,12,ZUARI.NS,NaN,NaN,20232,NaN,168.600006,5.016200e+09,2.823193,121.900002,121.900002,NaN,False
7313,1.338910e+10,1.338910e+10,4.684400e+09,2023,3,ZUARI.NS,121.900002,98839.0,20233,NaN,NaN,1.416170e+10,0.945444,149.000000,149.000000,1.222313,False
7314,1.205380e+10,1.205380e+10,4.469900e+09,2023,6,ZUARI.NS,149.000000,59962.0,20236,1.222313,121.900002,1.338910e+10,0.900270,NaN,NaN,NaN,False