In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/prepared_stock_indicator.csv")

In [4]:
cols = ['company_symbol', 'price_change', 'revenue_change', 'Good_stock']

In [5]:
df = df[cols]

In [6]:
df

     company_symbol  price_change  revenue_change  Good_stock
0      20MICRONS.NS           NaN             NaN       False
1      20MICRONS.NS      1.379061        1.010038       False
2      20MICRONS.NS           NaN        0.823923       False
3      20MICRONS.NS           NaN        1.120027       False
4     21STCENMGM.NS           NaN             NaN       False
...             ...           ...             ...         ...
7310       ZUARI.NS           NaN             NaN       False
7311       ZUARI.NS      1.164767        0.387076       False
7312       ZUARI.NS           NaN        2.823193       False
7313       ZUARI.NS           NaN        0.945444       False
7314       ZUARI.NS      1.222313        0.900270       False

[7315 rows x 4 columns]