In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/prepared_stock_indicator.csv")

In [3]:
cols = ['company_symbol', 'price_change', 'revenue_change', 'Good_stock']

In [4]:
df = df[cols]

In [5]:
df

     company_symbol  price_change  revenue_change  Good_stock
0      20MICRONS.NS           NaN             NaN       False
1      20MICRONS.NS      1.379061        1.010038       False
2      20MICRONS.NS           NaN        0.823923       False
3      20MICRONS.NS           NaN        1.120027       False
4     21STCENMGM.NS           NaN             NaN       False
...             ...           ...             ...         ...
7310       ZUARI.NS           NaN             NaN       False
7311       ZUARI.NS      1.164767        0.387076       False
7312       ZUARI.NS           NaN        2.823193       False
7313       ZUARI.NS           NaN        0.945444       False
7314       ZUARI.NS      1.222313        0.900270       False

[7315 rows x 4 columns]

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [8]:
logreg_clf = LogisticRegression()

In [9]:
df.drop('company_symbol', axis=1, inplace=True)

In [10]:
X = df.iloc[:,:-1].values
# Now let's tell the dataframe which column we want for the target/labels.  
y = df['Good_stock']

In [11]:
X

array([[       nan,        nan],
       [1.37906132, 1.01003758],
       [       nan, 0.82392299],
       ...,
       [       nan, 2.82319286],
       [       nan, 0.9454444 ],
       [1.22231336, 0.90026962]])

In [12]:
y

0       False
1       False
2       False
3       False
4       False
        ...
7310    False
7311    False
7312    False
7313    False
7314    False
Name: Good_stock, Length: 7315, dtype: bool

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=27)

In [15]:
logreg_clf.fit(X_train, y_train)

NameError: name 'svm' is not defined