In [1]:
import pandas as pd
stock = pd.read_csv("/data/combined_stock_data.csv")

In [2]:
stock.head()

,Unnamed: 0,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,0,20MICRONS,EQ,32.75,34.20,32.20,33.20,32.85,32.25,167877,5553694.55,06-JUL-2020,1155,INE144J01027,NaN
1,1,21STCENMGM,EQ,11.25,11.40,11.15,11.15,11.15,11.25,1013,11335.50,06-JUL-2020,20,INE253B01015,NaN
2,2,3IINFOTECH,EQ,2.55,2.55,2.50,2.50,2.50,2.60,3175086,7963967.65,06-JUL-2020,1669,INE748C01020,NaN
3,3,3MINDIA,EQ,18631.00,19100.05,18466.95,18962.65,18999.35,18440.40,4528,85392251.10,06-JUL-2020,1606,INE470A01017,NaN
4,4,3PLAND,EQ,6.45,6.45,6.45,6.45,6.45,6.75,10,64.50,06-JUL-2020,1,INE105C01023,NaN

In [ ]:
stock.dtypes