In [1]:
#!pip install yfinance
#!pip install finnhub-python
!pip freeze | grep yfinance

yfinance==0.2.28

In [2]:
import yfinance as yf

msft = yf.Ticker("LTIM.NS")

# get all stock info
msft.info

{'address1': 'L&T House',
 'address2': 'Ballard Estate',
 'city': 'Mumbai',
 'zip': '400001',
 'country': 'India',
 'phone': '91 22 6776 6776',
 'fax': '91 22 4313 0997',
 'website': 'https://www.ltimindtree.com',
 'industry': 'Information Technology Services',
 'industryDisp': 'Information Technology Services',
 'sector': 'Technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'LTIMindtree Limited, a technology consulting and digital solutions company, provides information technology services and solutions in India, North America, Europe, and internationally. The company operates through Banking, Financial Services & Insurance; Hi-Tech, Media & Entertainment; Manufacturing & Resources; Retail, CPG & Travel, Transport & Hospitality; and Health & Public Services. It offers cloud and infrastructure services, consulting, cyber security, data and insights, digital engineering, disruptive SaaS, enterprise application, platform operation, RPA, and testing services. The company serves various industries, such as banking and financial services, energy, utilities, healthcare, Hi-tech, insurance, life sciences, manufacturing, retail and consumer packaged goods, travel, transport, and hospitality, as well as communications, media, and entertainment industries. LTIMindtree Limited has a strategic collaboration agreement with Amazon Web Services, Inc.; and a strategic partnership with eClinicalHealth Limited to enhance digital innovation in clinical trials management process for patient centric drug development. The company was formerly known as Larsen & Toubro Infotech Limited and changed its name to LTIMindtree Limited in November 2022. The company was incorporated in 1996 and is based in Mumbai, India. LTIMindtree Limited is a subsidiary of Larsen & Toubro Limited.',
 'fullTimeEmployees': 82738,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Anilkumar Manibhai Naik',
   'age': 80,
   'title': 'Non-Exec. Founder Chairman',
   'yearBorn': 1942,
   'fiscalYear': 2023,
   'totalPay': 21500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Debashis  Chatterjee',
   'age': 56,
   'title': 'Director, CEO & MD',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'totalPay': 313253720,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nachiket  Deshpande',
   'age': 49,
   'title': 'COO & Whole Time Director',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 23010000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudhir  Chaturvedi',
   'age': 52,
   'title': 'Pres of Sale & Markets and Whole-Time Director',
   'yearBorn': 1970,
   'fiscalYear': 2023,
   'totalPay': 221800000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Siddharth Ravindra Bohra',
   'title': 'Head of Retail, CPG, Hi-Tech, Utilities - Americas & Data Products, Cloud Unit',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vinit Ajit Teredesai',
   'age': 51,
   'title': 'Chief Financial Officer',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nitin  Mohta',
   'title': 'Principal Director of Financial Planning & Analysis and Chief Investor Relations Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Tridib Kumar Barat',
   'age': 54,
   'title': 'Company Sec. & Compliance Officer',
   'yearBorn': 1968,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Harsh  Naidu',
   'title': 'Head of Banking & Financial Services, Americas',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Rohit  Kedia',
   'title': 'Head of Manufacturing Americas & Intelligent Enterprise Unit',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 5139.9,
 'open': 5155.05,
 'dayLow': 5155.05,
 'dayHigh': 5245.0,
 'regularMarketPreviousClose': 5139.9,
 'regularMarketOpen': 5155.05,
 'regularMarketDayLow': 5155.05,
 'regularMarketDayHigh': 5245.0,
 'dividendRate': 60.0,
 'dividendYield': 0.0117,
 'exDividendDate': 1688947200,
 'fiveYearAvgDividendYield': 1.14,
 'beta': 0.601557,
 'volume': 358974,
 'regularMarketVolume': 358974,
 'averageVolume': 546525,
 'averageVolume10days': 296890,
 'averageDailyVolume10Day': 296890,
 'bid': 5174.5,
 'ask': 0.0,
 'marketCap': 1532743909376,
 'fiftyTwoWeekLow': 4121.0,
 'fiftyTwoWeekHigh': 5430.0,
 'priceToSalesTrailing12Months': 4.476354,
 'fiftyDayAverage': 5035.12,
 'twoHundredDayAverage': 4718.024,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'enterpriseValue': 1452439764992,
 'profitMargins': 0.13008,
 'floatShares': 90335944,
 'sharesOutstanding': 295903008,
 'heldPercentInsiders': 0.68861,
 'heldPercentInstitutions': 0.14594,
 'impliedSharesOutstanding': 296211008,
 'bookValue': 614.568,
 'priceToBook': 8.419736,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1688083200,
 'earningsQuarterlyGrowth': 0.818,
 'netIncomeToCommon': 44542001152,
 'trailingEps': -3554.75,
 'enterpriseToRevenue': 4.242,
 'enterpriseToEbitda': 24.656,
 '52WeekChange': 0.103361726,
 'SandP52WeekChange': 0.05959761,
 'lastDividendValue': 40.0,
 'lastDividendDate': 1688947200,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'LTIM.NS',
 'underlyingSymbol': 'LTIM.NS',
 'shortName': 'LTIMINDTREE LIMITED',
 'longName': 'LTIMindtree Limited',
 'firstTradeDateEpochUtc': 1469072700,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '0a5d3cbd-bfcf-3b61-9e5c-2ebd65d46373',
 'messageBoardId': 'finmb_4440082',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 5174.5,
 'recommendationKey': 'none',
 'totalCash': 84127997952,
 'totalCashPerShare': 284.348,
 'ebitda': 58908000256,
 'totalDebt': 15786000384,
 'quickRatio': 3.027,
 'currentRatio': 3.465,
 'totalRevenue': 342408986624,
 'debtToEquity': 8.678,
 'revenuePerShare': 1157.4,
 'returnOnAssets': 0.18326001,
 'returnOnEquity': 0.32396,
 'grossProfits': 92799000000,
 'freeCashflow': 9716249600,
 'operatingCashflow': 34345000960,
 'earningsGrowth': 0.077,
 'revenueGrowth': 0.924,
 'grossMargins': 0.27686,
 'ebitdaMargins': 0.17204,
 'operatingMargins': 0.16088,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [ ]:
msft.quarterly_income_stmt

In [29]:
import finnhub
finnhub_client = finnhub.Client(api_key="c5k5j3qad3ie96ef67kg")
lookup_data = finnhub_client.symbol_lookup('20 Microns')

In [30]:
lookup_data

{'count': 2,
 'result': [{'description': '20 MICRONS LTD',
   'displaySymbol': '533022.BO',
   'symbol': '533022.BO',
   'type': 'Common Stock'},
  {'description': '20 MICRONS LTD',
   'displaySymbol': '20MICRONS.NS',
   'symbol': '20MICRONS.NS',
   'type': 'Common Stock'}]}

In [31]:
for val in lookup_data['result']:
    if val['displaySymbol'].endswith(".NS"):
        print(val['displaySymbol'])

20MICRONS.NS

In [20]:
hist = msft.history(period="14mo")

In [22]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-22 00:00:00+05:30,84.535893,84.623052,80.928629,81.161041,109877390,0.0,0.0
2022-06-23 00:00:00+05:30,81.345036,82.889624,80.086122,81.470924,111515840,0.0,0.0
2022-06-24 00:00:00+05:30,82.313436,83.741815,81.795342,82.589432,85433810,0.0,0.0
2022-06-27 00:00:00+05:30,84.298639,85.107246,83.577183,84.042015,72814730,0.0,0.0
2022-06-28 00:00:00+05:30,83.862863,85.644710,83.320565,85.112091,84647330,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-16 00:00:00+05:30,117.949997,117.949997,115.400002,115.949997,31252473,0.0,0.0
2023-08-17 00:00:00+05:30,115.900002,116.800003,114.699997,116.050003,28461865,0.0,0.0
2023-08-18 00:00:00+05:30,116.300003,116.400002,114.750000,115.800003,30381609,0.0,0.0
2023-08-21 00:00:00+05:30,116.750000,117.099998,115.849998,116.900002,22629651,0.0,0.0
2023-08-22 00:00:00+05:30,117.150002,117.500000,116.500000,117.349998,9486485,0.0,0.0