In [18]:
import pandas as pd
import time
import finnhub

stock = pd.read_csv("/data/stock_master.csv")

In [10]:
stock = stock.head()

In [ ]:
def fetch_nse_id(company_name):
    import re
    pattern = re.compile("limited", re.IGNORECASE)
    company_name = pattern.sub("", company_name)
    print(company_name)
    finnhub_client = finnhub.Client(api_key="c5k5j3qad3ie96ef67kg")
    lookup_data = finnhub_client.symbol_lookup(company_name)
    for val in lookup_data['result']:
        if val['displaySymbol'].endswith(".NS"):
            return val['displaySymbol']

In [ ]:
list = []
for ind in stock.index:
    values = [stock['Symbol'][ind], stock['Company name'][ind], fetch_nse_id(stock['Company name'][ind])]
    list.append(values)
    time.sleep(5)
    
list

20 Microns
21st Century Management Services
3i Infotech
3M India
3P Land Holdings
3rd Rock Multimedia
5Paisa Capital
63 Moons Technologies
A and M Jumbo Bags
A B Infrabuild

In [13]:
df = pd.DataFrame(list, columns = ['Symbol', 'CompanyName', 'NSEID'])

In [14]:
df

            Symbol                               CompanyName NSEID
0   NSE: 20MICRONS                        20 Microns Limited  Abcd
1  NSE: 21STCENMGM  21st Century Management Services Limited  Abcd
2  NSE: 3IINFOTECH                       3i Infotech Limited  Abcd
3     NSE: 3MINDIA                          3M India Limited  Abcd
4      NSE: 3PLAND                  3P Land Holdings Limited  Abcd

In [28]:
fetch_nse_id("20 Microns Limited")

20 Microns

'20MICRONS.NS'

In [21]:
import re
pattern = re.compile("limited", re.IGNORECASE)
pattern.sub("", "20 Microns Limited")

'20 Microns '