In [9]:
import pandas as pd
import time
import finnhub

stock = pd.read_csv("/data/stock_master.csv")

In [10]:
stock = stock.head()

In [12]:
list = []
for ind in stock.index:
    values = [stock['Symbol'][ind], stock['Company name'][ind], "Abcd"]
    list.append(values)
    time.sleep(1)
    #print(stock['Symbol'][ind], stock['Company name'][ind])
    
list

[['NSE:\xa020MICRONS', '20 Microns Limited', 'Abcd'],
 ['NSE:\xa021STCENMGM', '21st Century Management Services Limited', 'Abcd'],
 ['NSE:\xa03IINFOTECH', '3i Infotech\xa0Limited', 'Abcd'],
 ['NSE:\xa03MINDIA', '3M\xa0India Limited', 'Abcd'],
 ['NSE:\xa03PLAND', '3P Land Holdings Limited', 'Abcd']]

In [13]:
df = pd.DataFrame(list, columns = ['Symbol', 'CompanyName', 'NSEID'])

In [14]:
df

            Symbol                               CompanyName NSEID
0   NSE: 20MICRONS                        20 Microns Limited  Abcd
1  NSE: 21STCENMGM  21st Century Management Services Limited  Abcd
2  NSE: 3IINFOTECH                       3i Infotech Limited  Abcd
3     NSE: 3MINDIA                          3M India Limited  Abcd
4      NSE: 3PLAND                  3P Land Holdings Limited  Abcd