In [47]:
import pandas as pd
import time
import finnhub

stock = pd.read_csv("/data/stock_master.csv")

In [48]:
stock = stock.head(10)

In [50]:
def fetch_nse_id(company_name):
    company_name = company_name.replace(u'\xa0', u' ').strip()
    
    import re
    pattern = re.compile("limited", re.IGNORECASE)
    company_name = pattern.sub("", company_name)
    print(company_name)
    finnhub_client = finnhub.Client(api_key="c5k5j3qad3ie96ef67kg")
    lookup_data = finnhub_client.symbol_lookup(company_name)
    for val in lookup_data['result']:
        if val['displaySymbol'].endswith(".NS"):
            return val['displaySymbol']

In [51]:
list = []
for ind in stock.index:
    values = [stock['Symbol'][ind], stock['Company name'][ind], fetch_nse_id(stock['Company name'][ind])]
    list.append(values)
    time.sleep(1)
    
df = pd.DataFrame(list, columns = ['Symbol', 'CompanyName', 'NSEID'])

df

20 Microns
21st Century Management Services
3i Infotech
3M India
3P Land Holdings
3rd Rock Multimedia
5Paisa Capital
63 Moons Technologies
A and M Jumbo Bags
A B Infrabuild

            Symbol                               CompanyName         NSEID
0   NSE: 20MICRONS                        20 Microns Limited  20MICRONS.NS
1  NSE: 21STCENMGM  21st Century Management Services Limited          None
2  NSE: 3IINFOTECH                       3i Infotech Limited  3IINFOLTD.NS
3     NSE: 3MINDIA                          3M India Limited    3MINDIA.NS
4      NSE: 3PLAND                  3P Land Holdings Limited     3PLAND.NS
5     NSE: 3RDROCK               3rd Rock Multimedia Limited          None
6      NSE: 5PAISA                    5Paisa Capital Limited     5PAISA.NS
7     NSE: 63MOONS             63 Moons Technologies Limited    63MOONS.NS
8     NSE: AMJUMBO                A and M Jumbo Bags Limited          None
9     NSE: ABINFRA                    A B Infrabuild Limited          None

In [38]:
fetch_nse_id("3M India Limited	".strip())

3M India

'3MINDIA.NS'

In [21]:
import re
pattern = re.compile("limited", re.IGNORECASE)
pattern.sub("", "20 Microns Limited")

'20 Microns '