In [1]:
import pandas as pd
stock = pd.read_csv("/data/stock_master.csv")

In [2]:
stock.head()

            Symbol                              Company name
0   NSE: 20MICRONS                        20 Microns Limited
1  NSE: 21STCENMGM  21st Century Management Services Limited
2  NSE: 3IINFOTECH                       3i Infotech Limited
3     NSE: 3MINDIA                          3M India Limited
4      NSE: 3PLAND                  3P Land Holdings Limited

In [3]:
for ind in stock.index:
    print(df['Symbol'][ind], df['Company name'][ind])

NameError: name 'df' is not defined