In [18]:
import pandas as pd
import time
import finnhub

stock = pd.read_csv("/data/stock_master.csv")

In [10]:
stock = stock.head()

In [ ]:
def fetch_nse_id(company_name):
    import re
    pattern = re.compile("limited", re.IGNORECASE)
    company_name = pattern.sub("", company_name).strip()
    print(company_name)
    finnhub_client = finnhub.Client(api_key="c5k5j3qad3ie96ef67kg")
    lookup_data = finnhub_client.symbol_lookup(company_name)
    for val in lookup_data['result']:
        if val['displaySymbol'].endswith(".NS"):
            return val['displaySymbol']

In [29]:
list = []
for ind in stock.index:
    values = [stock['Symbol'][ind], stock['Company name'][ind], fetch_nse_id(stock['Company name'][ind])]
    list.append(values)
    time.sleep(5)
    
list

20 Microns
21st Century Management Services
3i Infotech
3M India
3P Land Holdings
3rd Rock Multimedia
5Paisa Capital
63 Moons Technologies
A and M Jumbo Bags
A B Infrabuild
A B N Intercorp
A2Z Infra Engineering
Aakash Exploration Services
Aaron Industries

KeyboardInterrupt:

In [30]:
df = pd.DataFrame(list, columns = ['Symbol', 'CompanyName', 'NSEID'])

In [31]:
df

             Symbol                               CompanyName         NSEID
0    NSE: 20MICRONS                        20 Microns Limited  20MICRONS.NS
1   NSE: 21STCENMGM  21st Century Management Services Limited          None
2   NSE: 3IINFOTECH                       3i Infotech Limited          None
3      NSE: 3MINDIA                          3M India Limited          None
4       NSE: 3PLAND                  3P Land Holdings Limited     3PLAND.NS
5      NSE: 3RDROCK               3rd Rock Multimedia Limited          None
6       NSE: 5PAISA                    5Paisa Capital Limited     5PAISA.NS
7      NSE: 63MOONS             63 Moons Technologies Limited    63MOONS.NS
8      NSE: AMJUMBO                A and M Jumbo Bags Limited          None
9      NSE: ABINFRA                    A B Infrabuild Limited          None
10      NSE: ABNINT                   A B N Intercorp Limited          None
11    NSE: A2ZINFRA             A2Z Infra Engineering Limited   A2ZINFRA.NS
12      NSE: AAKASH       Aakash Exploration Services Limited          None
13       NSE: AARON                  Aaron Industries Limited      AARON.NS

In [38]:
fetch_nse_id("3M India Limited	".strip())

3M India

'3MINDIA.NS'

In [21]:
import re
pattern = re.compile("limited", re.IGNORECASE)
pattern.sub("", "20 Microns Limited")

'20 Microns '