In [1]:
import yfinance as yf

msft = yf.Ticker("BANKBARODA.NS")

# get all stock info
msft.info

{'address1': 'Baroda Bhavan',
 'address2': '7th Floor R C Dutt Road Alkapuri',
 'city': 'Vadodara',
 'zip': '390007',
 'country': 'India',
 'phone': '91 26 5231 6792',
 'website': 'https://www.bankofbaroda.in',
 'industry': 'Banks—Regional',
 'industryDisp': 'Banks—Regional',
 'sector': 'Financial Services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Bank of Baroda Limited provides various banking products and services to individuals, government departments, and corporate customers in India and internationally. The company operates through Treasury, Corporate/Wholesale Banking, Retail Banking, and Other Banking Operations segments. It offers savings and current accounts; term, fixed and recurring deposits; and NRI deposit products. The company also provides loans, such as home, education, vehicle, gold, mudra, personal, and mortgage loans, as well as loans against securities and public issues/IPO; professional, composite, bridge, FCNR, and short and medium-term corporate loans, as well as loans for micro, small, and medium enterprises; working capital finance, term finance, commercial vehicle finance, export finance, advances against shares, bill finance, lines of credit, loans against rent receivables, project finance, infrastructure finance, supply chain finance, loans for the takeover of accounts, foreign currency credit, and non-fund based services; and debit, prepaid, and credit cards. In addition, it offers loans and advances, and pensions and government schemes to customers; life insurance, general insurance, and health insurance products, as well as mutual funds; appraisal merchant banking, cash management, remittance, collection, e-stamping, ECS, hedging, FX retail, correspondent banking, treasury, investment, lockers, and capital market services; and ATM, mobile banking, internet banking, cash recycler, and e-lobby services. Bank of Baroda Limited was incorporated in 1908 and is headquartered in Vadodara, India.',
 'fullTimeEmployees': 78122,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Debadatta  Chand',
   'age': 51,
   'title': 'MD, CEO & Director',
   'yearBorn': 1971,
   'fiscalYear': 2023,
   'totalPay': 4290766,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Joydeep Dutta Roy',
   'age': 50,
   'title': "Exec. Director & Chief GM of MD's Office, Subsidiaries and Joint Ventures",
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3656842,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ajay Kumar Khurana',
   'age': 58,
   'title': 'Exec. Director',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4321279,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lalit  Tyagi',
   'age': 51,
   'title': 'Exec. Director',
   'yearBorn': 1971,
   'fiscalYear': 2023,
   'totalPay': 3300789,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ian Gerard De Souza',
   'title': 'Chief Financial Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Elango  Balasubramaniam',
   'title': 'Chief Group Compliance Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Phiroza  Choksi',
   'title': 'Head of PR & Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Nikita  Raut',
   'title': 'Chief Mang. of HR & Head of Mumbai Academy',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kuku Ram Kanojia',
   'title': 'Chief Returning Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ashutosh  Bajpai',
   'title': 'Deputy GM & Branch Head',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 193.35,
 'open': 194.7,
 'dayLow': 190.75,
 'dayHigh': 194.95,
 'regularMarketPreviousClose': 193.35,
 'regularMarketOpen': 194.7,
 'regularMarketDayLow': 190.75,
 'regularMarketDayHigh': 194.95,
 'dividendRate': 5.5,
 'dividendYield': 0.028399998,
 'exDividendDate': 1688083200,
 'payoutRatio': 0.1634,
 'beta': 0.573459,
 'trailingPE': 5.6996436,
 'forwardPE': 8.708579,
 'volume': 15901046,
 'regularMarketVolume': 15901046,
 'averageVolume': 17571698,
 'averageVolume10days': 17096723,
 'averageDailyVolume10Day': 17096723,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 992125386752,
 'fiftyTwoWeekLow': 122.15,
 'fiftyTwoWeekHigh': 210.8,
 'priceToSalesTrailing12Months': 1.7870157,
 'fiftyDayAverage': 195.616,
 'twoHundredDayAverage': 179.9065,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'enterpriseValue': 1663371182080,
 'profitMargins': 0.31365,
 'floatShares': 1860109097,
 'sharesOutstanding': 5171359744,
 'heldPercentInsiders': 0.63971,
 'heldPercentInstitutions': 0.20424,
 'impliedSharesOutstanding': 5171359744,
 'bookValue': 211.767,
 'priceToBook': 0.9059486,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1688083200,
 'earningsQuarterlyGrowth': 1.29,
 'netIncomeToCommon': 174134034432,
 'trailingEps': 33.66,
 'forwardEps': 22.03,
 'pegRatio': 0.17,
 'lastSplitFactor': '5:1',
 'lastSplitDate': 1421884800,
 'enterpriseToRevenue': 2.996,
 '52WeekChange': 0.53574264,
 'SandP52WeekChange': 0.056414247,
 'lastDividendValue': 5.5,
 'lastDividendDate': 1688083200,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'BANKBARODA.NS',
 'underlyingSymbol': 'BANKBARODA.NS',
 'shortName': 'BK OF BARODA',
 'longName': 'Bank of Baroda Limited',
 'firstTradeDateEpochUtc': 1025495100,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '150cca3d-8461-3233-bc83-f9213bcf9a44',
 'messageBoardId': 'finmb_882698',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 191.85,
 'targetHighPrice': 230.0,
 'targetLowPrice': 120.0,
 'targetMeanPrice': 175.02,
 'targetMedianPrice': 180.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 44,
 'totalCash': 579381231616,
 'totalCashPerShare': 112.048,
 'totalDebt': 1233028382720,
 'totalRevenue': 555185602560,
 'revenuePerShare': 107.353,
 'returnOnAssets': 0.01214,
 'returnOnEquity': 0.17072001,
 'earningsGrowth': 1.29,
 'revenueGrowth': 0.446,
 'grossMargins': 0.0,
 'ebitdaMargins': 0.0,
 'operatingMargins': 0.43082002,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [2]:
fin = msft.quarterly_income_stmt.transpose()

In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta
fin["FinancialDate"]=pd.to_datetime(fin.index, format='%y-%m-%d').date

In [6]:
fin["Year"] = pd.to_datetime(fin.index, format='%y-%m-%d').year
fin["Month"] = pd.to_datetime(fin.index, format='%y-%m-%d').month

fin["IsWeekend"] = pd.to_datetime(fin.index, format='%y-%m-%d').day_name().isin(['Saturday', 'Sunday'])
fin["FinancialDate_Adj"] = np.where(fin['IsWeekend'], fin["FinancialDate"]-timedelta(days=2), fin["FinancialDate"])

In [7]:
fin

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Net Interest Income,Interest Expense,Interest Income,Normalized Income,Net Income From Continuing And Discontinued Operation,...,Special Income Charges,Operating Expense,Other Operating Expenses,Total Revenue,Operating Revenue,FinancialDate,Year,Month,IsWeekend,FinancialDate_Adj
2023-06-30,0.0,0.308039,0.0,0.0,44521000000.0,119422200000.0,160603200000.0,280025400000.0,44521000000.0,44521000000.0,...,0.0,77619100000.0,37321400000.0,172578100000.0,172578100000.0,2023-06-30,2023,6,False,2023-06-30
2023-03-31,0.0,0.279847,0.0,0.0,52551700000.0,122868600000.0,147904600000.0,270773200000.0,52551700000.0,52551700000.0,...,0.0,84833500000.0,44198700000.0,177376000000.0,177376000000.0,2023-03-31,2023,3,False,2023-03-31
2022-12-31,0.0,0.3258,0.0,0.0,43056600000.0,115717000000.0,131614900000.0,247331900000.0,43056600000.0,43056600000.0,...,0.0,74717900000.0,38735200000.0,171911800000.0,171911800000.0,2022-12-31,2022,12,True,2022-12-29
2022-09-30,0.0,0.259309,0.0,0.0,34004700000.0,108491400000.0,114945700000.0,223437100000.0,34004700000.0,34004700000.0,...,0.0,78909600000.0,44768700000.0,148259200000.0,148259200000.0,2022-09-30,2022,9,False,2022-09-30
2022-06-30,0.0,0.254955,0.0,0.0,19439000000.0,94887400000.0,104956500000.0,199843900000.0,19439000000.0,19439000000.0,...,0.0,67983600000.0,35314700000.0,110811100000.0,110811100000.0,2022-06-30,2022,6,False,2022-06-30

In [8]:
hist = msft.history(period="14mo")

In [9]:
import pandas as pd
hist["Stock_Date"] = pd.to_datetime(hist.index, format='%y-%m-%d').date

In [10]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date
Date,,,,,,,,
2022-06-24 00:00:00+05:30,94.497441,97.459586,94.060398,97.071106,38285373,0.0,0.0,2022-06-24
2022-06-27 00:00:00+05:30,98.187982,98.819261,96.731187,97.119667,14457696,0.0,0.0,2022-06-27
2022-06-28 00:00:00+05:30,96.585504,98.867822,96.585504,98.625023,16394684,0.0,0.0,2022-06-28
2022-06-29 00:00:00+05:30,97.411026,98.867821,96.828302,98.236542,16413604,0.0,0.0,2022-06-29
2022-06-30 00:00:00+05:30,98.042303,99.353424,94.254641,94.594559,24612161,0.0,0.0,2022-06-30
...,...,...,...,...,...,...,...,...
2023-08-18 00:00:00+05:30,189.699997,192.649994,189.000000,191.699997,15291405,0.0,0.0,2023-08-18
2023-08-21 00:00:00+05:30,192.350006,192.350006,189.899994,190.899994,11518119,0.0,0.0,2023-08-21
2023-08-22 00:00:00+05:30,191.350006,191.800003,189.850006,190.250000,10826294,0.0,0.0,2023-08-22
2023-08-23 00:00:00+05:30,190.500000,194.699997,190.250000,193.350006,18722788,0.0,0.0,2023-08-23
2023-08-24 00:00:00+05:30,194.699997,194.949997,190.750000,191.850006,15901046,0.0,0.0,2023-08-24

In [11]:
final = fin.merge(hist, how='left', left_on='FinancialDate', right_on='Stock_Date')

In [13]:
final["info_json"]=msft.info

In [14]:
final

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Net Interest Income,Interest Expense,Interest Income,Normalized Income,Net Income From Continuing And Discontinued Operation,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.308039,0.0,0.0,44521000000.0,119422200000.0,160603200000.0,280025400000.0,44521000000.0,44521000000.0,...,2023-06-30,186.600006,191.000000,185.350006,190.350006,17037322.0,5.5,0.0,2023-06-30,NaN
1,0.0,0.279847,0.0,0.0,52551700000.0,122868600000.0,147904600000.0,270773200000.0,52551700000.0,52551700000.0,...,2023-03-31,161.461440,164.909191,161.121515,163.986557,28240603.0,0.0,0.0,2023-03-31,NaN
2,0.0,0.3258,0.0,0.0,43056600000.0,115717000000.0,131614900000.0,247331900000.0,43056600000.0,43056600000.0,...,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.259309,0.0,0.0,34004700000.0,108491400000.0,114945700000.0,223437100000.0,34004700000.0,34004700000.0,...,2022-09-30,123.924686,129.800422,122.710691,128.586426,32119561.0,0.0,0.0,2022-09-30,NaN
4,0.0,0.254955,0.0,0.0,19439000000.0,94887400000.0,104956500000.0,199843900000.0,19439000000.0,19439000000.0,...,2022-06-30,98.042303,99.353424,94.254641,94.594559,24612161.0,0.0,0.0,2022-06-30,NaN