In [1]:
#!pip install yfinance
#!pip install finnhub-python
!pip freeze | grep yfinance

yfinance==0.2.28

In [2]:
import yfinance as yf

msft = yf.Ticker("LTIM.NS")

# get all stock info
msft.info

{'address1': 'L&T House',
 'address2': 'Ballard Estate',
 'city': 'Mumbai',
 'zip': '400001',
 'country': 'India',
 'phone': '91 22 6776 6776',
 'fax': '91 22 4313 0997',
 'website': 'https://www.ltimindtree.com',
 'industry': 'Information Technology Services',
 'industryDisp': 'Information Technology Services',
 'sector': 'Technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'LTIMindtree Limited, a technology consulting and digital solutions company, provides information technology services and solutions in India, North America, Europe, and internationally. The company operates through Banking, Financial Services & Insurance; Hi-Tech, Media & Entertainment; Manufacturing & Resources; Retail, CPG & Travel, Transport & Hospitality; and Health & Public Services. It offers cloud and infrastructure services, consulting, cyber security, data and insights, digital engineering, disruptive SaaS, enterprise application, platform operation, RPA, and testing services. The company serves various industries, such as banking and financial services, energy, utilities, healthcare, Hi-tech, insurance, life sciences, manufacturing, retail and consumer packaged goods, travel, transport, and hospitality, as well as communications, media, and entertainment industries. LTIMindtree Limited has a strategic collaboration agreement with Amazon Web Services, Inc.; and a strategic partnership with eClinicalHealth Limited to enhance digital innovation in clinical trials management process for patient centric drug development. The company was formerly known as Larsen & Toubro Infotech Limited and changed its name to LTIMindtree Limited in November 2022. The company was incorporated in 1996 and is based in Mumbai, India. LTIMindtree Limited is a subsidiary of Larsen & Toubro Limited.',
 'fullTimeEmployees': 82738,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Anilkumar Manibhai Naik',
   'age': 80,
   'title': 'Non-Exec. Founder Chairman',
   'yearBorn': 1942,
   'fiscalYear': 2023,
   'totalPay': 21500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Debashis  Chatterjee',
   'age': 56,
   'title': 'Director, CEO & MD',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'totalPay': 313253720,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nachiket  Deshpande',
   'age': 49,
   'title': 'COO & Whole Time Director',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 23010000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudhir  Chaturvedi',
   'age': 52,
   'title': 'Pres of Sale & Markets and Whole-Time Director',
   'yearBorn': 1970,
   'fiscalYear': 2023,
   'totalPay': 221800000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Siddharth Ravindra Bohra',
   'title': 'Head of Retail, CPG, Hi-Tech, Utilities - Americas & Data Products, Cloud Unit',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vinit Ajit Teredesai',
   'age': 51,
   'title': 'Chief Financial Officer',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nitin  Mohta',
   'title': 'Principal Director of Financial Planning & Analysis and Chief Investor Relations Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Tridib Kumar Barat',
   'age': 54,
   'title': 'Company Sec. & Compliance Officer',
   'yearBorn': 1968,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Harsh  Naidu',
   'title': 'Head of Banking & Financial Services, Americas',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Rohit  Kedia',
   'title': 'Head of Manufacturing Americas & Intelligent Enterprise Unit',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 5139.9,
 'open': 5155.05,
 'dayLow': 5155.05,
 'dayHigh': 5245.0,
 'regularMarketPreviousClose': 5139.9,
 'regularMarketOpen': 5155.05,
 'regularMarketDayLow': 5155.05,
 'regularMarketDayHigh': 5245.0,
 'dividendRate': 60.0,
 'dividendYield': 0.0117,
 'exDividendDate': 1688947200,
 'fiveYearAvgDividendYield': 1.14,
 'beta': 0.601557,
 'volume': 358974,
 'regularMarketVolume': 358974,
 'averageVolume': 546525,
 'averageVolume10days': 296890,
 'averageDailyVolume10Day': 296890,
 'bid': 5174.5,
 'ask': 0.0,
 'marketCap': 1532743909376,
 'fiftyTwoWeekLow': 4121.0,
 'fiftyTwoWeekHigh': 5430.0,
 'priceToSalesTrailing12Months': 4.476354,
 'fiftyDayAverage': 5035.12,
 'twoHundredDayAverage': 4718.024,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'enterpriseValue': 1452439764992,
 'profitMargins': 0.13008,
 'floatShares': 90335944,
 'sharesOutstanding': 295903008,
 'heldPercentInsiders': 0.68861,
 'heldPercentInstitutions': 0.14594,
 'impliedSharesOutstanding': 296211008,
 'bookValue': 614.568,
 'priceToBook': 8.419736,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1688083200,
 'earningsQuarterlyGrowth': 0.818,
 'netIncomeToCommon': 44542001152,
 'trailingEps': -3554.75,
 'enterpriseToRevenue': 4.242,
 'enterpriseToEbitda': 24.656,
 '52WeekChange': 0.103361726,
 'SandP52WeekChange': 0.05959761,
 'lastDividendValue': 40.0,
 'lastDividendDate': 1688947200,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'LTIM.NS',
 'underlyingSymbol': 'LTIM.NS',
 'shortName': 'LTIMINDTREE LIMITED',
 'longName': 'LTIMindtree Limited',
 'firstTradeDateEpochUtc': 1469072700,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '0a5d3cbd-bfcf-3b61-9e5c-2ebd65d46373',
 'messageBoardId': 'finmb_4440082',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 5174.5,
 'recommendationKey': 'none',
 'totalCash': 84127997952,
 'totalCashPerShare': 284.348,
 'ebitda': 58908000256,
 'totalDebt': 15786000384,
 'quickRatio': 3.027,
 'currentRatio': 3.465,
 'totalRevenue': 342408986624,
 'debtToEquity': 8.678,
 'revenuePerShare': 1157.4,
 'returnOnAssets': 0.18326001,
 'returnOnEquity': 0.32396,
 'grossProfits': 92799000000,
 'freeCashflow': 9716249600,
 'operatingCashflow': 34345000960,
 'earningsGrowth': 0.077,
 'revenueGrowth': 0.924,
 'grossMargins': 0.27686,
 'ebitdaMargins': 0.17204,
 'operatingMargins': 0.16088,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [4]:
fin = msft.quarterly_income_stmt.transpose()

In [7]:
fin["FinancialDate"]=fin.index

In [8]:
fin

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,Operating Income,Operating Expense,Other Operating Expenses,Depreciation And Amortization In Income Statement,Depreciation Income Statement,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue,FinancialDate
2023-06-30,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,14508000000.0,16526000000.0,14679000000.0,1847000000.0,1847000000.0,31034000000.0,55987000000.0,87021000000.0,87021000000.0,2023-06-30
2023-03-31,0.0,0.228569,17951000000.0,1667000000.0,1667000000.0,11137000000.0,3073000000.0,55807000000.0,14878000000.0,-436000000.0,...,13714000000.0,17389000000.0,15566000000.0,1823000000.0,1823000000.0,31103000000.0,55807000000.0,86910000000.0,86910000000.0,2023-03-31
2022-12-31,-118228292.385167,0.236457,15766000000.0,-500000000.0,-500000000.0,10005000000.0,1781000000.0,54722000000.0,13485000000.0,-379000000.0,...,12467000000.0,19011000000.0,17230000000.0,1781000000.0,1781000000.0,31478000000.0,54722000000.0,86200000000.0,86200000000.0,2022-12-31
2022-09-30,0.0,0.245756,10510000000.0,NaN,NaN,6793000000.0,1308000000.0,30849000000.0,9202000000.0,-189000000.0,...,7809000000.0,9709000000.0,8401000000.0,1308000000.0,1308000000.0,17518000000.0,30849000000.0,48367000000.0,48367000000.0,2022-09-30
2022-06-30,0.0,0.254524,9749000000.0,NaN,NaN,6335000000.0,1065000000.0,28723000000.0,8684000000.0,-174000000.0,...,7243000000.0,9262000000.0,8197000000.0,1065000000.0,1065000000.0,16505000000.0,28723000000.0,45228000000.0,45228000000.0,2022-06-30

In [9]:
hist = msft.history(period="14mo")

In [33]:
import pandas as pd
hist["Stock_Year"] = pd.to_datetime(hist.index, format='%y-%m-%d').year
hist["Stock_Month"] = pd.to_datetime(hist.index, format='%y-%m-%d').year
hist["Stock_Date"] = pd.to_datetime(hist.index, format='%y-%m-%d').year

In [34]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,Stock_Date2
Date,,,,,,,,,
2022-06-23 00:00:00+05:30,3952.843405,4046.540434,3918.731878,4033.852295,274113,0.0,0.0,2022,2022-06-23 00:00:00+05:30
2022-06-24 00:00:00+05:30,4094.316269,4107.199325,3910.874868,3936.983154,368631,0.0,0.0,2022,2022-06-24 00:00:00+05:30
2022-06-27 00:00:00+05:30,4034.535757,4103.149120,3994.763081,4063.425293,312125,0.0,0.0,2022,2022-06-27 00:00:00+05:30
2022-06-28 00:00:00+05:30,4018.431305,4133.356561,3978.219475,4121.302734,299984,0.0,0.0,2022,2022-06-28 00:00:00+05:30
2022-06-29 00:00:00+05:30,4060.204882,4103.149357,3967.727860,3988.858398,386244,0.0,0.0,2022,2022-06-29 00:00:00+05:30
...,...,...,...,...,...,...,...,...,...
2023-08-17 00:00:00+05:30,5188.000000,5188.000000,5082.799805,5097.549805,344151,0.0,0.0,2023,2023-08-17 00:00:00+05:30
2023-08-18 00:00:00+05:30,5100.000000,5114.000000,5011.600098,5085.149902,338124,0.0,0.0,2023,2023-08-18 00:00:00+05:30
2023-08-21 00:00:00+05:30,5086.000000,5152.149902,5056.000000,5147.549805,202004,0.0,0.0,2023,2023-08-21 00:00:00+05:30
2023-08-22 00:00:00+05:30,5170.000000,5170.000000,5109.000000,5139.899902,175355,0.0,0.0,2023,2023-08-22 00:00:00+05:30
2023-08-23 00:00:00+05:30,5155.049805,5245.000000,5155.049805,5174.500000,358974,0.0,0.0,2023,2023-08-23 00:00:00+05:30